In [1]:
import pandas as pd

In [2]:
pop_24 = pd.read_excel('../data/27876_132.xlsx', skiprows=5)
df_commune_responses_combined = pd.read_csv("../data/commune_responses_combined.csv")
df_commune_responses_combined.tail()

C:\Users\Admin\AppData\Local\Temp\ipykernel_16680\1894241083.py:2: DtypeWarning: Columns (0,3,8,10,32,61,62,65,68,70,72,74,76,80,81,82,89,90,91,92,93,94,98,99,100,101,102,104,105,106,107,108,109,179,180,181,182,183,184,185,186,187,188,189,190,637,638,639,640,641,642) have mixed types. Specify dtype option on import or set low_memory=False.
  df_commune_responses_combined = pd.read_csv("../data/commune_responses_combined.csv")

,Unnamed: 0,GSB23_Q99,GSB23_Q100,GSB23_Q101,GSB23_Q10,GSB23_Q4,GSB23_Q5,GSB23_Q6,GSB23_Q7,GSB23_Q8,...,GSB09_30_1,GSB09_30_2,GSB09_30_3,GSB09_31A,GSB09_31B,GSB09_32,GSB09_33,GSB09_34A_1,GSB09_34A_2,GSB09_34A_3
3194,3194,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,,,,,,,,,,
3195,3195,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,,,,,,,,,,
3196,3196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,,0,,5,6,4,5,3,7
3197,year,2023.0,2023.0,2023.0,2023.0,2023.0,2023.0,2023.0,2023,2023.0,...,2009,2009,2009,2009,2009,2009,2009,2009,2009,2009
3198,quest_glob,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GSB23_Q7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
pop_24.columns = ["Region-ID", "Regionname", "Population", "Density"]
pop_24 = pop_24[["Region-ID", "Density", "Population"]]
pop_24["Region-ID"] = pd.to_numeric(pop_24["Region-ID"], errors="coerce").astype("Int64")
# Clean the data
pop_24["Density"] = pd.to_numeric(pop_24["Density"], errors="coerce")

In [4]:
pop_24['Region-ID'] = pop_24['Region-ID'].astype('float')
pop_24.head()

   Region-ID      Density Population
0        1.0   252.591656       1998
1        2.0  1214.258735      12859
2        3.0   764.199192       5678
3        4.0   292.205882       3974
4        5.0   606.891271       3963

In [5]:
df_commune_responses_combined = pd.merge(df_commune_responses_combined, pop_24, left_on = "gemid", right_on="Region-ID", how="left")

In [6]:
df_commune_responses_combined.head()

,Unnamed: 0,GSB23_Q99,GSB23_Q100,GSB23_Q101,GSB23_Q10,GSB23_Q4,GSB23_Q5,GSB23_Q6,GSB23_Q7,GSB23_Q8,...,GSB09_31A,GSB09_31B,GSB09_32,GSB09_33,GSB09_34A_1,GSB09_34A_2,GSB09_34A_3,Region-ID,Density,Population
0,0,1.0,1.0,NaN,1.0,1.0,3.0,2.0,1.0,-2.0,...,,,,,,,,296.0,537.192343,17679
1,1,1.0,2.0,NaN,2.0,2.0,2.0,2.0,2.0,99.0,...,,,,,,,,297.0,171.351168,5060
2,2,1.0,3.0,NaN,2.0,2.0,2.0,5.0,2.0,2.0,...,,,,,,,,298.0,350.912885,6727
3,3,1.0,4.0,NaN,2.0,2.0,99.0,99.0,99.0,-2.0,...,,,,,,,,NaN,NaN,NaN
4,4,1.0,5.0,NaN,1.0,3.0,2.0,99.0,4.0,-2.0,...,,,,,,,,449.0,60.252600,811

In [7]:
df_commune_responses_combined = df_commune_responses_combined.drop_duplicates(subset=['Unnamed: 0'], keep='first')

In [8]:
df_commune_responses_combined.tail()

,Unnamed: 0,GSB23_Q99,GSB23_Q100,GSB23_Q101,GSB23_Q10,GSB23_Q4,GSB23_Q5,GSB23_Q6,GSB23_Q7,GSB23_Q8,...,GSB09_31A,GSB09_31B,GSB09_32,GSB09_33,GSB09_34A_1,GSB09_34A_2,GSB09_34A_3,Region-ID,Density,Population
3194,3194,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,,,,,,,,6807.0,52.213542,1203
3195,3195,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,,,,,,,,6809.0,25.824579,1057
3196,3196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,,5,6,4,5,3,7,5254.0,474.283916,15068
3197,year,2023.0,2023.0,2023.0,2023.0,2023.0,2023.0,2023.0,2023,2023.0,...,2009,2009,2009,2009,2009,2009,2009,NaN,NaN,NaN
3208,quest_glob,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GSB23_Q7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df_commune_responses_combined.loc[df_commune_responses_combined['Unnamed: 0'] == 'year', 'gemid'] = 10000
df_commune_responses_combined.loc[df_commune_responses_combined['Unnamed: 0'] == 'quest_glob', 'gemid'] = 20000

In [10]:
df_commune_responses_combined['gemid']

0         296.0
1         297.0
2         298.0
3         327.0
4         449.0
         ...
3194     6807.0
3195     6809.0
3196     5254.0
3197    10000.0
3208    20000.0
Name: gemid, Length: 3199, dtype: float64

In [11]:
df_commune_responses_combined.tail()

,Unnamed: 0,GSB23_Q99,GSB23_Q100,GSB23_Q101,GSB23_Q10,GSB23_Q4,GSB23_Q5,GSB23_Q6,GSB23_Q7,GSB23_Q8,...,GSB09_31A,GSB09_31B,GSB09_32,GSB09_33,GSB09_34A_1,GSB09_34A_2,GSB09_34A_3,Region-ID,Density,Population
3194,3194,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,,,,,,,,6807.0,52.213542,1203
3195,3195,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,,,,,,,,6809.0,25.824579,1057
3196,3196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,,5,6,4,5,3,7,5254.0,474.283916,15068
3197,year,2023.0,2023.0,2023.0,2023.0,2023.0,2023.0,2023.0,2023,2023.0,...,2009,2009,2009,2009,2009,2009,2009,NaN,NaN,NaN
3208,quest_glob,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GSB23_Q7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df_commune_responses_combined['Density'].describe()

count     2108.000000
mean       464.694846
std        835.017838
min          0.941532
25%         85.243202
50%        196.292264
75%        498.232914
max      12971.437539
Name: Density, dtype: float64

In [13]:
df_commune_responses_combined[df_commune_responses_combined['gemid'] == 6621]

,Unnamed: 0,GSB23_Q99,GSB23_Q100,GSB23_Q101,GSB23_Q10,GSB23_Q4,GSB23_Q5,GSB23_Q6,GSB23_Q7,GSB23_Q8,...,GSB09_31A,GSB09_31B,GSB09_32,GSB09_33,GSB09_34A_1,GSB09_34A_2,GSB09_34A_3,Region-ID,Density,Population
1182,1182,20.0,4616.0,NaN,2.0,2.0,2.0,2.0,2.0,99.0,...,,,,,,,,6621.0,12971.437539,206635

In [12]:
df_commune_responses_combined.to_csv("../data/commune_responses_combined_with_pop.csv")